.bodyContainer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: auto;
    max-width: 900px;
    background-color: #e7e7e7;
    padding: 20px;
}

.titleText {
    font-size: 30px;
}
