
.taskSection {
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px #ddd;
}

.taskSection__headerText {
    font-weight: 700;
    margin: 0px;
    padding: 20px;
    border-bottom: 1px solid #e7e7e7;
}

.taskSection__taskBody {
    padding: 15px;
}